.nav{
    padding: 2%;
    display: flex;
    background-color: #664121;
    a{
        color: #ffff;
        opacity: .7;
        &:hover{
            opacity: 1;
        }
    }
}

.main__container {
    margin: 0 auto 0 auto;
    width: 50%;
    
    @media (max-width: 990px){
        width: 95%;
    }
}



  